@model IEnumerable<OSMH.Models.Payment>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Input New Invoice", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.SIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance_Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount_Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid_In_Full)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.SIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance_Due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount_Paid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paid_In_Full)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
