@model IEnumerable<OSMH.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Your Outstanding Payments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance_Due)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance_Due)
        </td>

        <td>
            @Html.ActionLink("Pay Now", "ConfirmPayment")
        </td>
    </tr>
}

</table>
