
@{
    ViewBag.Title = "OSMH Admin";
}

<h2>Admin</h2>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
        @Html.ActionLink("Blog", "Admin", "Blogs")
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        @Html.ActionLink("Members", "Members", "Admin")
        </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        @Html.ActionLink("Manage Job Listings", "Admin", "Careers")
    </div>
	<div class="col-xs-6 col-sm-4 col-md-3">
		@Html.ActionLink("Alert", "Index", "Alert")
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3">
		@Html.ActionLink("Blogs", "Index", "Blogs")
	</div>
	<div class="col-xs-6 col-sm-4 col-md-3">
		@Html.ActionLink("Manage Suggestion Board", "Index", "Suggestion")
	</div>
</div>


