@model OSMH.Models.Blog

@{
    ViewBag.Title = Model.Title;
}

@Html.ActionLink("Go back to Blog List", "/", "Blogs", new { area = "" }, new { @class = "btn btn-primary" })
<div class="row">
    <div class="col-md-8">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <p><span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(model => model.PublishDate)</p>
        <p>@Html.Raw(Model.Content)</p>
    </div>
    @Html.Partial("~/Views/Shared/_BlogDates.cshtml")
</div>
