@model IEnumerable<OSMH.Models.ContactUs>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin Contact Us Page</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Admin Dashboard", "Index", "Admin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactUs_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactUs_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactUs_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactUs_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactUs_public)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUs_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUs_info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUs_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUs_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUs_public)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactUs_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactUs_id })
        </td>
    </tr>
}

</table>
