@model IEnumerable<OSMH.Models.helper.UserSuggestion>

@{
	ViewBag.Title = "All Suggestions";
	ViewBag.count = 1;
}

<!--This is the patient's view of the suggestion board-->

<div class="allSuggestions_title row">
	<h2 class="col-sm-6">All Suggestions</h2>
	<div class="allSuggestions_title_search col-sm-6">
		@using (Html.BeginForm())
		{
			<p>
				Find Suggestion: @Html.TextBox("SearchString")
				<input type="submit" value="Search" />
			</p>
		}
	</div>
</div>

<div class="suggestion-control">
	@Html.ActionLink("Back to Dashboard", "Dashboard", "Patient", null, new { @class = "btn btn-primary" })
	@Html.ActionLink("My Suggestion", "Mysuggestion", null, new { @class = "btn btn-primary"})
	@Html.ActionLink("Create New Suggestion", "Create", null, new { @class = "btn btn-primary" })
</div>

<div class="suggestionsSortLinks row">
	<p class="col-sm-4">
		@Html.ActionLink("Sort by Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
	</p>
	<p class="col-sm-4">
		@Html.ActionLink("Sort by Vote", "Index", new { sortOrder = ViewBag.VoteSortParm })
	</p>
	<p class="col-sm-4">
		@Html.ActionLink("Sort by Creation Time", "Index", new { sortOrder = ViewBag.DateSortParm })
	</p>
</div>

<section class="suggestionItems">
	@foreach (var item in Model)
	{
		<div class="suggestionItem row">
			<div class="suggestionItem_count col-sm-1">
				<p class="suggestionItem_count-number">
					@ViewBag.count
				</p>
			</div>

			<div class="suggestionItem_vote col-sm-2">
				<p class="suggestionItem_vote_number" data-id=@Html.DisplayFor(modelItem => item.SuggestionId)>
					@Html.DisplayFor(modelItem => item.Vote)
				</p>
				@if (!(item.Email == User.Identity.Name))
				{
					if (!item.SuggestionUpvotes.Any(s => s.FirstName == User.Identity.Name))
					{
						<button type="button" class="btn btn-default suggestionItem_vote_upvote" data-id=@Html.DisplayFor(modelItem => item.SuggestionId)>
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">Upvote</span>
						</button>
						<button type="button" class="btn btn-default suggestionItem_vote_downvote suggestionNotDisplay" data-id=@Html.DisplayFor(modelItem => item.SuggestionId) data-current="@User.Identity.Name">
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">Downvote</span>
						</button>
					}
					else
					{
						<button type="button" class="btn btn-default suggestionItem_vote_upvote suggestionNotDisplay" data-id=@Html.DisplayFor(modelItem => item.SuggestionId)>
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">Upvote</span>
						</button>
						<button type="button" class="btn btn-default suggestionItem_vote_downvote" data-id=@Html.DisplayFor(modelItem => item.SuggestionId) data-current="@User.Identity.Name">
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">Downvote</span>
						</button>
					}
				}
				else
				{
					<p>My Suggestion</p>
				}
			</div>

			<div class="suggestionItem_detail col-sm-8">
				<p class="suggestionItem_detail_title">
					@Html.ActionLink(item.Title, "Details", new { id = item.SuggestionId })
				</p>
				<p class="suggestionItem_detail_author">
					<span class="label label-default">@Html.DisplayFor(modelItem => item.NumComments) comments</span>
					Submitted by: <span class="suggestionItem_detail_authorname">@Html.DisplayFor(modelItem => item.UserName)</span> at <span class="suggestionItem_detail_authortime">@Html.DisplayFor(modelItem => item.CreatingTime)</span>
				</p>
			</div>

		</div>
		ViewBag.count++;
	}
</section>