@model IEnumerable<OSMH.Models.Job>

@{
    ViewBag.Title = "ApplyNow";
}

<h2>List of Job Postings</h2>

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Closing_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType_Id)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            int expiry = (item.Closing_Date - DateTime.Today).Days;
            string red = expiry <= 0 ? "color:Red" : null;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Job_Title)
                </td>
                
                <td style="@red">
                    @Html.DisplayFor(modelItem => item.Closing_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Apply Now", "ApplyNow", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
