@model IEnumerable<OSMH.Models.Alert>

@{
    ViewBag.Title = "Archive";
}

<h2>Archive</h2>

<section class="allAlert row">
	@foreach (var item in Model)
	{
		<article class="allAlert_item col-sm-6">
			<p class="allAlert_item_detail">
				<span>@Html.DisplayNameFor(model => model.Title): </span>
				@Html.DisplayFor(modelItem => item.Title)
			</p>
			<p class="allAlert_item_detail">
				<span>@Html.DisplayNameFor(model => model.AlertStatus): </span>
				@Html.DisplayFor(modelItem => item.AlertStatus)
			</p>
			<p class="allAlert_item_detail">
				<span>@Html.DisplayNameFor(model => model.CreatingTime): </span>
				@Html.DisplayFor(modelItem => item.CreatingTime)
			</p>
			<p class="allAlert_item_detail">
				<span>@Html.DisplayNameFor(model => model.PublishingTime): </span>
				@Html.DisplayFor(modelItem => item.PublishingTime)
			</p>
			<div class="allAlert_item_links">
				<p class="allAlert_item_link">
					@Html.ActionLink("Details", "Details", new { id = item.AlertID }, new { @class = "btn btn-default" })
				</p>
			</div>
		</article>
	}
</section>
	<p>
		@Html.ActionLink("Back to List", "Index")
	</p>
