@model OSMH.Models.Alert

@{
    ViewBag.Title = "Details";
}

<h2 class="alertDetail_pageTitle">@Html.DisplayFor(model => model.Title)</h2>

<article class="alertDetail">
	<div class="alertDetail_item row">
		<p class="alertDetail_title col-sm-6">
			@Html.DisplayNameFor(model => model.Classification):
		</p>
		<p class="alertDetail_body col-sm-6">
			@Html.DisplayFor(model => model.Classification)
		</p>
	</div>
	<div class="alertDetail_item row">
		<p class="alertDetail_title col-sm-6">
			@Html.DisplayNameFor(model => model.Message):
		</p>
		<p class="alertDetail_body col-sm-6">
			@Html.DisplayFor(model => model.Message)
		</p>
	</div>
	<div class="alertDetail_item row">
		<p class="alertDetail_title col-sm-6">
			@Html.DisplayNameFor(model => model.AlertStatus):
		</p>
		<p class="alertDetail_body col-sm-6">
			@Html.DisplayFor(model => model.AlertStatus)
		</p>
	</div>
	<div class="alertDetail_item row">
		<p class="alertDetail_title col-sm-6">
			@Html.DisplayNameFor(model => model.Publisher):
		</p>
		<p class="alertDetail_body col-sm-6">
			@Html.DisplayFor(model => model.Publisher)
		</p>
	</div>
	<div class="alertDetail_item row">
		<p class="alertDetail_title col-sm-6">
			@Html.DisplayNameFor(model => model.CreatingTime):
		</p>
		<p class="alertDetail_body col-sm-6">
			@Html.DisplayFor(model => model.CreatingTime)
		</p>
	</div>
	<div class="alertDetail_item row">
		<p class="alertDetail_title col-sm-6">
			@Html.DisplayNameFor(model => model.PublishingTime):
		</p>
		<p class="alertDetail_body col-sm-6">
			@Html.DisplayFor(model => model.PublishingTime)
		</p>
	</div>
</article>

<div class="alertDetail_buttons">
	@if (Model.AlertStatus == OSMH.Models.Alert.Status.Inactive || Model.AlertStatus == OSMH.Models.Alert.Status.Ongoing)
	{
	<p>
		@Html.ActionLink("Edit", "Edit", new { id = Model.AlertID }, new { @class = "btn btn-primary" })
	</p>
	}

	<p>
		@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
	</p>
</div>
